
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Car Sell Website - Sign In</title>
  <link rel="icon" href="/static/skd logo.jpg">
  <link rel="stylesheet" href="/static/style_si.css">
</head>
<body>
  <form class="form" method="POST" action="/signin">
    <div class="form-title"><span>Sign in to your</span></div>
    <div class="title-2"><span>Account</span></div>

    {% if error %}
      <p style="color:red">{{ error }}</p>
    {% endif %}

    <div class="input-container">
      <input class="input-mail" type="email" name="email" placeholder="Enter email" required>
    </div>
    <div class="input-container">
      <input class="input-pwd" type="password" name="password" placeholder="Enter password" required>
    </div>

    <button type="submit" class="submit"><span class="sign-text">Sign in</span></button>

    <p class="signup-link">No account? <a href="/Sign_up" class="up">Sign up!</a></p>
  </form>
</body>
</html>
